In [272]:
#Se extrae el link del repositorio para trabajar las tablas
dataRepo='https://github.com/XimenaMamani-ctrl/ICDE-control2-25-09-/raw/main/appendData/'

In [273]:
# Se creó los nombres para los archivos en una lista
level0=range(1,5)
fileNames=['level'+str(level)+'.xlsx' for level in level0]

fileNames

['level1.xlsx', 'level2.xlsx', 'level3.xlsx', 'level4.xlsx']

In [274]:
alltheLinks=[dataRepo+fn for fn in fileNames]
alltheLinks

#se creó un link para cada excel

['https://github.com/XimenaMamani-ctrl/ICDE-control2-25-09-/raw/main/appendData/level1.xlsx',
 'https://github.com/XimenaMamani-ctrl/ICDE-control2-25-09-/raw/main/appendData/level2.xlsx',
 'https://github.com/XimenaMamani-ctrl/ICDE-control2-25-09-/raw/main/appendData/level3.xlsx',
 'https://github.com/XimenaMamani-ctrl/ICDE-control2-25-09-/raw/main/appendData/level4.xlsx']

In [275]:
import pandas as pd

allDFs=[pd.read_excel(link) for link in alltheLinks]

In [276]:
len(allDFs)

4

In [277]:
#Se consiguen el nombre de las columnas
allColumnNames=[]
for df in allDFs:
    allColumnNames.append(set(df.columns))# list of sets!

In [278]:
[len(cols) for cols in allColumnNames]

[16, 12, 15, 10]

In [279]:
commonColumns=set.intersection(*allColumnNames)
len(commonColumns),commonColumns
#no hay ninguna columna en común

(0, set())

In [280]:
set.union(*allColumnNames)-commonColumns

{'Country',
 'Expected years of schooling',
 'GNI per capita rank minus HDI rank',
 'Gross national income (GNI) per capita',
 'HDI rank',
 'HDI rank.1',
 'Human Development Index (HDI) ',
 'Life expectancy at birth',
 'Mean years of schooling',
 'Table 1. Human Development Index and its components ',
 'Unnamed: 0',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'le'}

In [281]:
allDFs_sameNames=[df.loc[:,list(commonColumns)] for df in allDFs]

In [282]:
allDFsConcat=pd.concat(allDFs_sameNames)
allDFsConcat.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [283]:
Link1="https://github.com/XimenaMamani-ctrl/ICDE-control2-25-09-/raw/main/appendData/level1.xlsx"

import pandas as pd
bloque1=pd.read_excel(Link1)
bloque1

,Unnamed: 0,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,Country,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank,NaN
4,NaN,NaN,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,NaN,74.8839,NaN,13.34304,NaN,10.64506,NaN,26657.94355,NaN,-8,NaN,61,VERY HIGH HUMAN DEVELOPMENT
68,63,Georgia,0.802,NaN,71.694,NaN,15.56852,NaN,12.82222,NaN,14664.16825,NaN,17,NaN,64,VERY HIGH HUMAN DEVELOPMENT
69,63,Mauritius,0.802,NaN,73.5552,NaN,15.17353,e,10.42791,e,22025.34631,NaN,-1,NaN,62,VERY HIGH HUMAN DEVELOPMENT
70,63,Serbia,0.802,NaN,74.1923,NaN,14.40009,NaN,11.36987,NaN,19123.02747,NaN,4,NaN,62,VERY HIGH HUMAN DEVELOPMENT
71,66,Thailand,0.8,NaN,78.7154,NaN,15.882219,m,8.69712,NaN,17030.15352,NaN,6,NaN,64,VERY HIGH HUMAN DEVELOPMENT

In [284]:
bloque1.columns

Index(['Unnamed: 0', 'Table 1. Human Development Index and its components ',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [285]:
keep=['Back','Table 1. Human Development Index and its components ','Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 10','Unnamed: 12','Unnamed: 14']
dontKeep=set(bloque1.columns.to_list())-set(keep)
bloque1Cleaned=bloque1.drop(columns=dontKeep)
bloque1Cleaned

,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,NaN,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...
67,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61
68,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64
69,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62
70,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62
71,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64

In [286]:
change={'Table 1. Human Development Index and its components ':"Country","Unnamed: 2":"Human_Development_Index_(HDI)_2021","Unnamed: 4":"Life_expectancy_at_birth_2021","Unnamed: 6":"Expected_years_of_schooling_2021","Unnamed: 8":"Mean_years_of_schooling_2021","Unnamed: 10":"Gross_national_income_(GNI)_per_capita_2017PPP$_2021","Unnamed: 12":"GNI_per_capita_rank_minus_HDI_rank_2021","Unnamed: 14":"HDI_Rank_2020"}
bloque1Cleaned.rename(columns=change,inplace=True)
bloque1Cleaned

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Expected_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,NaN,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...
67,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61
68,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64
69,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62
70,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62
71,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64

In [287]:
bloque1Cleaned.columns = bloque1Cleaned.columns.str.replace('\t', '')

# Se verificó si se ha realizado el cambio
print(bloque1Cleaned.columns)

Index(['Country', 'Human_Development_Index_(HDI)_2021',
       'Life_expectancy_at_birth_2021', 'Expected_years_of_schooling_2021',
       'Mean_years_of_schooling_2021',
       'Gross_national_income_(GNI)_per_capita_2017PPP$_2021',
       'GNI_per_capita_rank_minus_HDI_rank_2021', 'HDI_Rank_2020'],
      dtype='object')

In [288]:
#Se reestableció el índice del dataframe
bloque1Cleaned = bloque1Cleaned.reset_index(drop=True)

#Se procedió a eliminar las filas por su posición
bloque1Cleaned = bloque1Cleaned.drop(index=[0,1,2,3,4,5])

bloque1Cleaned

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Expected_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
6,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5,3
7,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6,1
8,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11,2
9,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6,4
10,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18,5
...,...,...,...,...,...,...,...,...
67,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61
68,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64
69,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62
70,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62
71,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64

In [289]:
#Se reseteó el número de índice para que empieze desde el 1.
bloque1Cleaned.reset_index(drop=True, inplace=True)
bloque1Cleaned.index += 1

bloque1Cleaned

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Expected_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5,3
2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6,1
3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11,2
4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6,4
5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18,5
...,...,...,...,...,...,...,...,...
62,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61
63,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64
64,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62
65,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62
66,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64

In [290]:
#Procedemos a cambiar el tipo de las columnas a float64
bloque1Cleaned[('Human_Development_Index_(HDI)_2021')] = pd.to_numeric(bloque1Cleaned[('Human_Development_Index_(HDI)_2021')], errors='coerce')
bloque1Cleaned[('Life_expectancy_at_birth_2021')] = pd.to_numeric(bloque1Cleaned[('Life_expectancy_at_birth_2021')], errors='coerce')
bloque1Cleaned[('Mean_years_of_schooling_2021')] = pd.to_numeric(bloque1Cleaned[('Mean_years_of_schooling_2021')], errors='coerce')
bloque1Cleaned[('Gross_national_income_(GNI)_per_capita_2017PPP$_2021')] = pd.to_numeric(bloque1Cleaned[('Gross_national_income_(GNI)_per_capita_2017PPP$_2021')], errors='coerce')
bloque1Cleaned[('Expected_years_of_schooling_2021')] = pd.to_numeric(bloque1Cleaned[('Expected_years_of_schooling_2021')], errors='coerce')
bloque1Cleaned['GNI_per_capita_rank_minus_HDI_rank_2021'] = bloque1Cleaned['GNI_per_capita_rank_minus_HDI_rank_2021'].astype('float64')
bloque1Cleaned['HDI_Rank_2020'] = bloque1Cleaned['HDI_Rank_2020'].astype('float64')


bloque1Cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 1 to 66
Data columns (total 8 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Country                                               66 non-null     object
 1   Human_Development_Index_(HDI)_2021                    66 non-null     float64
 2   Life_expectancy_at_birth_2021                         66 non-null     float64
 3   Expected_years_of_schooling_2021                      66 non-null     float64
 4   Mean_years_of_schooling_2021                          66 non-null     float64
 5   Gross_national_income_(GNI)_per_capita_2017PPP$_2021  66 non-null     float64
 6   GNI_per_capita_rank_minus_HDI_rank_2021               66 non-null     float64
 7   HDI_Rank_2020                                         66 non-null     float64
dtypes: float64(7), object(1)
memory usage: 4.3+ KB

In [291]:
bloque1Cleaned.to_excel('bloque1cleaned.xlsx', index=False)

Se terminó de limpiar la tabla del primer Excel

In [292]:
Link2='https://github.com/XimenaMamani-ctrl/ICDE-control2-25-09-/raw/main/appendData/level2.xlsx'

import pandas as pd
bloque2=pd.read_excel(Link2)
bloque2

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Unnamed: 6,Gross national income (GNI) per capita,Unnamed: 8,GNI per capita rank minus HDI rank,Unnamed: 10,HDI rank.1
0,NaN,NaN,2021.000,2021.0000,2021.000000,2021.000000,a,2021.000000,NaN,2021.0,b,2020.0
1,NaN,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,67.0,Albania,0.796,76.4626,14.448000,11.286455,e,14131.110390,NaN,17.0,NaN,68.0
3,68.0,Bulgaria,0.795,71.7980,13.897290,11.413180,NaN,23078.955950,NaN,-8.0,NaN,64.0
4,68.0,Grenada,0.795,74.9362,18.662020,9.032104,l,13483.577400,NaN,18.0,NaN,70.0
5,70.0,Barbados,0.790,77.5714,15.713385,9.852701,n,12306.341000,NaN,26.0,NaN,71.0
6,71.0,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,j,16792.365950,NaN,2.0,NaN,71.0
7,72.0,Seychelles,0.785,71.2945,13.941610,10.283120,NaN,25830.617750,NaN,-17.0,NaN,69.0
8,73.0,Sri Lanka,0.782,76.3991,14.139905,10.827300,NaN,12578.220550,NaN,21.0,NaN,75.0
9,74.0,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,NaN,15241.914650,NaN,4.0,NaN,73.0
10,75.0,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,l,23358.332120,NaN,-16.0,NaN,76.0
11,76.0,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,e,13000.711700,NaN,15.0,NaN,77.0
12,77.0,Ukraine,0.773,71.6240,14.956569,11.131420,n,13255.509770,NaN,11.0,NaN,78.0
13,78.0,North Macedonia,0.770,73.8415,13.624432,10.228150,NaN,15917.752830,NaN,-3.0,NaN,79.0
14,79.0,China,0.768,78.2107,14.236115,7.600118,n,17504.399690,NaN,-8.0,NaN,82.0
15,80.0,Dominican Republic,0.767,72.6146,14.466558,9.306864,o,17989.600370,NaN,-11.0,NaN,82.0
16,80.0,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,NaN,14875.331890,NaN,-1.0,NaN,81.0
17,80.0,Palau,0.767,66.0204,15.784320,12.491430,p,13818.678690,NaN,5.0,NaN,80.0
18,83.0,Cuba,0.764,73.6829,14.443060,12.497734,e,7878.847482,q,37.0,NaN,73.0
19,84.0,Peru,0.762,72.3769,15.387734,9.885519,e,12245.893660,NaN,13.0,NaN,85.0
20,85.0,Armenia,0.759,72.0431,13.116760,11.330300,NaN,13157.993900,NaN,4.0,NaN,87.0
21,86.0,Mexico,0.758,70.2127,14.864440,9.221050,NaN,17896.294980,NaN,-16.0,NaN,88.0
22,87.0,Brazil,0.754,72.7504,15.599060,8.128814,e,14369.888480,NaN,-5.0,NaN,86.0
23,88.0,Colombia,0.752,72.8296,14.442750,8.862860,NaN,14384.356660,NaN,-7.0,NaN,88.0
24,89.0,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,NaN,11961.087920,NaN,11.0,NaN,82.0
25,90.0,Maldives,0.747,79.9182,12.635610,7.322000,NaN,15448.127880,NaN,-14.0,NaN,97.0
26,91.0,Algeria,0.745,76.3767,14.626896,8.069284,e,10800.225460,NaN,13.0,NaN,96.0
27,91.0,Azerbaijan,0.745,69.3658,13.496890,10.542970,NaN,14256.744560,NaN,-8.0,NaN,100.0
28,91.0,Tonga,0.745,70.9857,16.048571,11.392594,n,6822.031250,NaN,34.0,NaN,90.0
29,91.0,Turkmenistan,0.745,69.2644,13.210400,11.261390,NaN,13020.715500,NaN,-1.0,NaN,93.0
30,95.0,Ecuador,0.740,73.6700,14.624230,8.817120,NaN,10311.632730,NaN,11.0,NaN,99.0
31,96.0,Mongolia,0.739,70.9754,14.980350,9.423700,NaN,10588.225320,NaN,9.0,NaN,90.0
32,97.0,Egypt,0.731,70.2207,13.786500,9.573026,e,11731.690560,NaN,4.0,NaN,97.0
33,97.0,Tunisia,0.731,73.7719,15.425382,7.431599,e,10257.544770,NaN,10.0,NaN,94.0
34,99.0,Fiji,0.730,67.1140,14.736790,10.921548,e,9980.110866,NaN,9.0,NaN,94.0
35,99.0,Suriname,0.730,70.2743,13.035644,9.776801,m,12672.200330,NaN,-6.0,NaN,92.0
36,101.0,Uzbekistan,0.727,70.8616,12.477140,11.895590,NaN,7916.785725,NaN,18.0,NaN,107.0
37,102.0,Dominica,0.720,72.8140,13.319186,8.142186,j,11487.624220,NaN,0.0,NaN,106.0
38,102.0,Jordan,0.720,74.2563,10.646560,10.446680,NaN,9923.714974,NaN,8.0,NaN,104.0
39,104.0,Libya,0.718,71.9112,12.854280,7.599985,r,15335.712000,NaN,-27.0,NaN,117.0
40,105.0,Paraguay,0.717,70.2617,12.987991,8.861840,NaN,12349.286000,NaN,-10.0,NaN,100.0
41,106.0,"Palestine, State of",0.715,73.4727,13.358010,9.938480,NaN,6582.899416,NaN,21.0,NaN,109.0
42,106.0,Saint Lucia,0.715,71.1114,12.866110,8.545040,NaN,12048.303810,NaN,-7.0,NaN,104.0
43,108.0,Guyana,0.714,65.6734,12.502722,8.617477,NaN,22464.657340,NaN,-47.0,NaN,107.0
44,109.0,South Africa,0.713,62.3410,13.643710,11.373160,NaN,12948.373250,NaN,-17.0,NaN,102.0
45,110.0,Jamaica,0.709,70.5003,13.404920,9.154629,e,8834.475670,NaN,4.0,NaN,110.0
46,111.0,Samoa,0.707,72.7675,12.418859,11.403800,NaN,5307.953374,NaN,24.0,NaN,112.0
47,112.0,Gabon,0.706,65.8210,12.977310,9.436000,NaN,13366.934550,NaN,-25.0,NaN,113.0
48,112.0,Lebanon,0.706,75.0472,11.285870,8.718636,l,9525.831467,NaN,-1.0,NaN,103.0
49,114.0,Indonesia,0.705,67.5703,13.748894,8.556510,NaN,11466.068360,NaN,-11.0,NaN,116.0
50,115.0,Viet Nam,0.703,73.6181,12.951932,8.370280,NaN,7867.371345,NaN,6.0,NaN,113.0

In [293]:
bloque2.columns

Index(['HDI rank', 'Country', 'Human Development Index (HDI) ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Unnamed: 6',
       'Gross national income (GNI) per capita', 'Unnamed: 8',
       'GNI per capita rank minus HDI rank', 'Unnamed: 10', 'HDI rank.1'],
      dtype='object')

In [294]:
keep=['Country','Human Development Index (HDI) ','Life expectancy at birth','Expected years of schooling','Mean years of schooling','Gross national income (GNI) per capita','GNI per capita rank minus HDI rank','HDI rank.1']
dontKeep=set(bloque2.columns.to_list())-set(keep)
bloque2Cleaned=bloque2.drop(columns=dontKeep)

#Se reestableció el índice del dataframe
bloque2Cleaned = bloque2Cleaned.reset_index(drop=True)

#Se procedió a eliminar las filas por su posición
bloque2Cleaned = bloque2Cleaned.drop(index=[0,1])

bloque2Cleaned.reset_index(drop=True, inplace=True)
bloque2Cleaned.index += 1

bloque2Cleaned

,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank.1
1,Albania,0.796,76.4626,14.448000,11.286455,14131.110390,17.0,68.0
2,Bulgaria,0.795,71.7980,13.897290,11.413180,23078.955950,-8.0,64.0
3,Grenada,0.795,74.9362,18.662020,9.032104,13483.577400,18.0,70.0
4,Barbados,0.790,77.5714,15.713385,9.852701,12306.341000,26.0,71.0
5,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,16792.365950,2.0,71.0
6,Seychelles,0.785,71.2945,13.941610,10.283120,25830.617750,-17.0,69.0
7,Sri Lanka,0.782,76.3991,14.139905,10.827300,12578.220550,21.0,75.0
8,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,15241.914650,4.0,73.0
9,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,23358.332120,-16.0,76.0
10,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,13000.711700,15.0,77.0
11,Ukraine,0.773,71.6240,14.956569,11.131420,13255.509770,11.0,78.0
12,North Macedonia,0.770,73.8415,13.624432,10.228150,15917.752830,-3.0,79.0
13,China,0.768,78.2107,14.236115,7.600118,17504.399690,-8.0,82.0
14,Dominican Republic,0.767,72.6146,14.466558,9.306864,17989.600370,-11.0,82.0
15,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,14875.331890,-1.0,81.0
16,Palau,0.767,66.0204,15.784320,12.491430,13818.678690,5.0,80.0
17,Cuba,0.764,73.6829,14.443060,12.497734,7878.847482,37.0,73.0
18,Peru,0.762,72.3769,15.387734,9.885519,12245.893660,13.0,85.0
19,Armenia,0.759,72.0431,13.116760,11.330300,13157.993900,4.0,87.0
20,Mexico,0.758,70.2127,14.864440,9.221050,17896.294980,-16.0,88.0
21,Brazil,0.754,72.7504,15.599060,8.128814,14369.888480,-5.0,86.0
22,Colombia,0.752,72.8296,14.442750,8.862860,14384.356660,-7.0,88.0
23,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,11961.087920,11.0,82.0
24,Maldives,0.747,79.9182,12.635610,7.322000,15448.127880,-14.0,97.0
25,Algeria,0.745,76.3767,14.626896,8.069284,10800.225460,13.0,96.0
26,Azerbaijan,0.745,69.3658,13.496890,10.542970,14256.744560,-8.0,100.0
27,Tonga,0.745,70.9857,16.048571,11.392594,6822.031250,34.0,90.0
28,Turkmenistan,0.745,69.2644,13.210400,11.261390,13020.715500,-1.0,93.0
29,Ecuador,0.740,73.6700,14.624230,8.817120,10311.632730,11.0,99.0
30,Mongolia,0.739,70.9754,14.980350,9.423700,10588.225320,9.0,90.0
31,Egypt,0.731,70.2207,13.786500,9.573026,11731.690560,4.0,97.0
32,Tunisia,0.731,73.7719,15.425382,7.431599,10257.544770,10.0,94.0
33,Fiji,0.730,67.1140,14.736790,10.921548,9980.110866,9.0,94.0
34,Suriname,0.730,70.2743,13.035644,9.776801,12672.200330,-6.0,92.0
35,Uzbekistan,0.727,70.8616,12.477140,11.895590,7916.785725,18.0,107.0
36,Dominica,0.720,72.8140,13.319186,8.142186,11487.624220,0.0,106.0
37,Jordan,0.720,74.2563,10.646560,10.446680,9923.714974,8.0,104.0
38,Libya,0.718,71.9112,12.854280,7.599985,15335.712000,-27.0,117.0
39,Paraguay,0.717,70.2617,12.987991,8.861840,12349.286000,-10.0,100.0
40,"Palestine, State of",0.715,73.4727,13.358010,9.938480,6582.899416,21.0,109.0
41,Saint Lucia,0.715,71.1114,12.866110,8.545040,12048.303810,-7.0,104.0
42,Guyana,0.714,65.6734,12.502722,8.617477,22464.657340,-47.0,107.0
43,South Africa,0.713,62.3410,13.643710,11.373160,12948.373250,-17.0,102.0
44,Jamaica,0.709,70.5003,13.404920,9.154629,8834.475670,4.0,110.0
45,Samoa,0.707,72.7675,12.418859,11.403800,5307.953374,24.0,112.0
46,Gabon,0.706,65.8210,12.977310,9.436000,13366.934550,-25.0,113.0
47,Lebanon,0.706,75.0472,11.285870,8.718636,9525.831467,-1.0,103.0
48,Indonesia,0.705,67.5703,13.748894,8.556510,11466.068360,-11.0,116.0
49,Viet Nam,0.703,73.6181,12.951932,8.370280,7867.371345,6.0,113.0

In [295]:
change={"Human Development Index (HDI)":"Human_Development_Index_(HDI)_2021","Life expectancy at birth":"Life_expectancy_at_birth_2021","Expected years of schooling":"Mean_years_of_schooling_2021","Mean years of schooling":"Mean_years_of_schooling_2021","Gross national income (GNI) per capita":"Gross_national_income_(GNI)_per_capita_2017PPP$_2021","GNI per capita rank minus HDI rank":"GNI_per_capita_rank_minus_HDI_rank_2021","HDI rank.1":"HDI_Rank_2020"}
bloque2Cleaned.rename(columns=change,inplace=True)
bloque2Cleaned

,Country,Human Development Index (HDI),Life_expectancy_at_birth_2021,Mean_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
1,Albania,0.796,76.4626,14.448000,11.286455,14131.110390,17.0,68.0
2,Bulgaria,0.795,71.7980,13.897290,11.413180,23078.955950,-8.0,64.0
3,Grenada,0.795,74.9362,18.662020,9.032104,13483.577400,18.0,70.0
4,Barbados,0.790,77.5714,15.713385,9.852701,12306.341000,26.0,71.0
5,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,16792.365950,2.0,71.0
6,Seychelles,0.785,71.2945,13.941610,10.283120,25830.617750,-17.0,69.0
7,Sri Lanka,0.782,76.3991,14.139905,10.827300,12578.220550,21.0,75.0
8,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,15241.914650,4.0,73.0
9,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,23358.332120,-16.0,76.0
10,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,13000.711700,15.0,77.0
11,Ukraine,0.773,71.6240,14.956569,11.131420,13255.509770,11.0,78.0
12,North Macedonia,0.770,73.8415,13.624432,10.228150,15917.752830,-3.0,79.0
13,China,0.768,78.2107,14.236115,7.600118,17504.399690,-8.0,82.0
14,Dominican Republic,0.767,72.6146,14.466558,9.306864,17989.600370,-11.0,82.0
15,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,14875.331890,-1.0,81.0
16,Palau,0.767,66.0204,15.784320,12.491430,13818.678690,5.0,80.0
17,Cuba,0.764,73.6829,14.443060,12.497734,7878.847482,37.0,73.0
18,Peru,0.762,72.3769,15.387734,9.885519,12245.893660,13.0,85.0
19,Armenia,0.759,72.0431,13.116760,11.330300,13157.993900,4.0,87.0
20,Mexico,0.758,70.2127,14.864440,9.221050,17896.294980,-16.0,88.0
21,Brazil,0.754,72.7504,15.599060,8.128814,14369.888480,-5.0,86.0
22,Colombia,0.752,72.8296,14.442750,8.862860,14384.356660,-7.0,88.0
23,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,11961.087920,11.0,82.0
24,Maldives,0.747,79.9182,12.635610,7.322000,15448.127880,-14.0,97.0
25,Algeria,0.745,76.3767,14.626896,8.069284,10800.225460,13.0,96.0
26,Azerbaijan,0.745,69.3658,13.496890,10.542970,14256.744560,-8.0,100.0
27,Tonga,0.745,70.9857,16.048571,11.392594,6822.031250,34.0,90.0
28,Turkmenistan,0.745,69.2644,13.210400,11.261390,13020.715500,-1.0,93.0
29,Ecuador,0.740,73.6700,14.624230,8.817120,10311.632730,11.0,99.0
30,Mongolia,0.739,70.9754,14.980350,9.423700,10588.225320,9.0,90.0
31,Egypt,0.731,70.2207,13.786500,9.573026,11731.690560,4.0,97.0
32,Tunisia,0.731,73.7719,15.425382,7.431599,10257.544770,10.0,94.0
33,Fiji,0.730,67.1140,14.736790,10.921548,9980.110866,9.0,94.0
34,Suriname,0.730,70.2743,13.035644,9.776801,12672.200330,-6.0,92.0
35,Uzbekistan,0.727,70.8616,12.477140,11.895590,7916.785725,18.0,107.0
36,Dominica,0.720,72.8140,13.319186,8.142186,11487.624220,0.0,106.0
37,Jordan,0.720,74.2563,10.646560,10.446680,9923.714974,8.0,104.0
38,Libya,0.718,71.9112,12.854280,7.599985,15335.712000,-27.0,117.0
39,Paraguay,0.717,70.2617,12.987991,8.861840,12349.286000,-10.0,100.0
40,"Palestine, State of",0.715,73.4727,13.358010,9.938480,6582.899416,21.0,109.0
41,Saint Lucia,0.715,71.1114,12.866110,8.545040,12048.303810,-7.0,104.0
42,Guyana,0.714,65.6734,12.502722,8.617477,22464.657340,-47.0,107.0
43,South Africa,0.713,62.3410,13.643710,11.373160,12948.373250,-17.0,102.0
44,Jamaica,0.709,70.5003,13.404920,9.154629,8834.475670,4.0,110.0
45,Samoa,0.707,72.7675,12.418859,11.403800,5307.953374,24.0,112.0
46,Gabon,0.706,65.8210,12.977310,9.436000,13366.934550,-25.0,113.0
47,Lebanon,0.706,75.0472,11.285870,8.718636,9525.831467,-1.0,103.0
48,Indonesia,0.705,67.5703,13.748894,8.556510,11466.068360,-11.0,116.0
49,Viet Nam,0.703,73.6181,12.951932,8.370280,7867.371345,6.0,113.0

In [296]:
bloque2Cleaned.columns = bloque2Cleaned.columns.str.strip()
bloque2Cleaned = bloque2Cleaned.rename(columns={"Human Development Index (HDI)": "Human_Development_Index_(HDI)_2021"})

bloque2Cleaned.columns

Index(['Country', 'Human_Development_Index_(HDI)_2021',
       'Life_expectancy_at_birth_2021', 'Mean_years_of_schooling_2021',
       'Mean_years_of_schooling_2021',
       'Gross_national_income_(GNI)_per_capita_2017PPP$_2021',
       'GNI_per_capita_rank_minus_HDI_rank_2021', 'HDI_Rank_2020'],
      dtype='object')

In [297]:
bloque2Cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 1 to 49
Data columns (total 8 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Country                                               49 non-null     object
 1   Human_Development_Index_(HDI)_2021                    49 non-null     float64
 2   Life_expectancy_at_birth_2021                         49 non-null     float64
 3   Mean_years_of_schooling_2021                          49 non-null     float64
 4   Mean_years_of_schooling_2021                          49 non-null     float64
 5   Gross_national_income_(GNI)_per_capita_2017PPP$_2021  49 non-null     float64
 6   GNI_per_capita_rank_minus_HDI_rank_2021               49 non-null     float64
 7   HDI_Rank_2020                                         49 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.2+ KB

In [298]:
Link3='https://github.com/XimenaMamani-ctrl/ICDE-control2-25-09-/raw/main/appendData/level3.xlsx'

import pandas as pd
bloque3=pd.read_excel(Link3)
bloque3

,HDI rank,Country,Human Development Index (HDI),Unnamed: 3,Life expectancy at birth,Unnamed: 5,Expected years of schooling,Unnamed: 7,Mean years of schooling,Unnamed: 9,Gross national income (GNI) per capita,Unnamed: 11,GNI per capita rank minus HDI rank,Unnamed: 13,HDI rank.1
0,NaN,NaN,2021.000,NaN,2021.0000,NaN,2021.000000,a,2021.000000,a,2021.000000,NaN,2021.0,b,2020.0
1,NaN,MEDIUM HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,116.0,Philippines,0.699,NaN,69.2664,NaN,13.126570,NaN,8.969100,NaN,8920.428468,NaN,-3.0,NaN,113.0
3,117.0,Botswana,0.693,NaN,61.1409,NaN,12.265138,e,10.340000,NaN,16198.318410,NaN,-43.0,NaN,110.0
4,118.0,Bolivia (Plurinational State of),0.692,NaN,63.6304,NaN,14.946971,NaN,9.827750,NaN,8111.190194,NaN,0.0,NaN,119.0
5,118.0,Kyrgyzstan,0.692,NaN,69.9774,NaN,13.195300,NaN,11.374106,n,4566.303831,NaN,26.0,NaN,121.0
6,120.0,Venezuela (Bolivarian Republic of),0.691,NaN,70.5536,NaN,12.816080,p,11.107277,e,4810.882621,t,20.0,NaN,118.0
7,121.0,Iraq,0.686,NaN,70.3779,NaN,12.087473,s,7.905593,m,9977.249073,NaN,-12.0,NaN,122.0
8,122.0,Tajikistan,0.685,NaN,71.5942,NaN,11.653036,e,11.333394,n,4547.742427,NaN,23.0,NaN,126.0
9,123.0,Belize,0.683,NaN,70.4697,NaN,12.991690,NaN,8.847600,NaN,6309.099778,NaN,6.0,NaN,120.0
10,123.0,Morocco,0.683,NaN,74.0419,NaN,14.151910,NaN,5.916000,NaN,7302.819170,NaN,1.0,NaN,122.0
11,125.0,El Salvador,0.675,NaN,70.7479,NaN,12.671348,o,7.150930,NaN,8295.665889,NaN,-8.0,NaN,124.0
12,126.0,Nicaragua,0.667,NaN,73.8368,NaN,12.641358,o,7.144000,NaN,5624.793595,NaN,6.0,NaN,129.0
13,127.0,Bhutan,0.666,NaN,71.8150,NaN,13.225005,e,5.170262,e,9437.541512,NaN,-15.0,NaN,125.0
14,128.0,Cabo Verde,0.662,NaN,74.0518,NaN,12.554614,e,6.287719,p,6230.200199,NaN,2.0,NaN,127.0
15,129.0,Bangladesh,0.661,NaN,72.3811,NaN,12.441980,NaN,7.379060,NaN,5472.104781,NaN,4.0,NaN,128.0
16,130.0,Tuvalu,0.641,NaN,64.5466,NaN,9.404430,e,10.573108,NaN,6351.435899,NaN,-2.0,NaN,131.0
17,131.0,Marshall Islands,0.639,NaN,65.2688,NaN,10.239320,NaN,10.883140,NaN,4619.535393,NaN,12.0,NaN,131.0
18,132.0,India,0.633,NaN,67.2398,NaN,11.874620,NaN,6.655109,n,6589.980037,NaN,-6.0,NaN,130.0
19,133.0,Ghana,0.632,NaN,63.7954,NaN,12.047780,NaN,8.329887,n,5744.504017,NaN,-2.0,NaN,135.0
20,134.0,Micronesia (Federated States of),0.628,NaN,70.7100,NaN,11.549480,j,7.804956,l,3696.173945,NaN,22.0,NaN,136.0
21,135.0,Guatemala,0.627,NaN,69.2368,NaN,10.562450,NaN,5.681300,NaN,8723.285317,NaN,-20.0,NaN,133.0
22,136.0,Kiribati,0.624,NaN,67.4172,NaN,11.801993,NaN,7.984462,s,4062.586034,NaN,14.0,NaN,137.0
23,137.0,Honduras,0.621,NaN,70.1229,NaN,10.132814,o,7.088480,NaN,5297.955301,NaN,-1.0,NaN,138.0
24,138.0,Sao Tome and Principe,0.618,NaN,67.5912,NaN,13.365385,NaN,6.215599,m,4021.350815,NaN,13.0,NaN,139.0
25,139.0,Namibia,0.615,NaN,59.2690,NaN,11.927207,u,7.192013,n,8633.504452,NaN,-23.0,NaN,134.0
26,140.0,Lao People's Democratic Republic,0.607,NaN,68.0608,NaN,10.136110,NaN,5.374000,NaN,7699.579617,NaN,-18.0,NaN,142.0
27,140.0,Timor-Leste,0.607,NaN,67.7369,NaN,12.616098,p,5.436790,NaN,4460.869435,NaN,7.0,NaN,140.0
28,140.0,Vanuatu,0.607,NaN,70.4490,NaN,11.535315,e,7.064846,v,3085.411633,NaN,23.0,NaN,142.0
29,143.0,Nepal,0.602,NaN,68.4495,NaN,12.886950,NaN,5.121793,n,3877.315444,NaN,10.0,NaN,144.0
30,144.0,Eswatini (Kingdom of),0.597,NaN,57.0657,NaN,13.744346,e,5.596000,NaN,7678.591873,NaN,-21.0,NaN,141.0
31,145.0,Equatorial Guinea,0.596,NaN,60.5943,NaN,9.734940,l,5.910863,j,12073.959930,NaN,-47.0,NaN,147.0
32,146.0,Cambodia,0.593,NaN,69.5835,NaN,11.467720,w,5.088000,NaN,4078.697154,NaN,3.0,NaN,148.0
33,146.0,Zimbabwe,0.593,NaN,59.2531,NaN,12.110969,e,8.710909,e,3809.887158,NaN,9.0,NaN,145.0
34,148.0,Angola,0.586,NaN,61.6434,NaN,12.172100,NaN,5.417391,NaN,5465.617791,NaN,-14.0,NaN,149.0
35,149.0,Myanmar,0.585,NaN,65.6716,NaN,10.909138,e,6.376800,NaN,3850.524234,NaN,5.0,NaN,145.0
36,150.0,Syrian Arab Republic,0.577,NaN,72.0627,NaN,9.164220,NaN,5.100000,l,4191.933893,x,-2.0,NaN,152.0
37,151.0,Cameroon,0.576,NaN,60.3334,NaN,13.108599,e,6.151310,n,3620.932408,NaN,6.0,NaN,150.0
38,152.0,Kenya,0.575,NaN,61.4270,NaN,10.698558,u,6.652000,NaN,4473.570344,NaN,-6.0,NaN,150.0
39,153.0,Congo,0.571,NaN,63.5187,NaN,12.330815,e,6.166000,NaN,2889.283521,NaN,11.0,NaN,153.0
40,154.0,Zambia,0.565,NaN,61.2234,NaN,10.928760,w,7.187091,n,3217.767739,NaN,7.0,NaN,154.0
41,155.0,Solomon Islands,0.564,NaN,70.3477,NaN,10.328690,e,5.711848,s,2481.511362,NaN,13.0,NaN,155.0
42,156.0,Comoros,0.558,NaN,63.4174,NaN,11.924324,e,5.078649,l,3142.064119,NaN,6.0,NaN,156.0
43,156.0,Papua New Guinea,0.558,NaN,65.3506,NaN,10.360771,u,4.740000,NaN,4008.623573,NaN,-4.0,NaN,157.0
44,158.0,Mauritania,0.556,NaN,64.3636,NaN,9.376160,NaN,4.918805,n,5075.305711,NaN,-20.0,NaN,158.0
45,159.0,Côte d'Ivoire,0.550,NaN,58.5983,NaN,10.675580,NaN,5.199139,n,5217.448516,NaN,-22.0,NaN,159.0

In [299]:
keep=['Country','Human Development Index (HDI) ','Life expectancy at birth','Expected years of schooling','Mean years of schooling','Gross national income (GNI) per capita','GNI per capita rank minus HDI rank','HDI rank.1']
dontKeep=set(bloque3.columns.to_list())-set(keep)
bloque3Cleaned=bloque3.drop(columns=dontKeep)

bloque3Cleaned = bloque3Cleaned.reset_index(drop=True)

bloque3Cleaned = bloque3Cleaned.drop(index=[0,1])

change={"Human Development Index (HDI)":"Human_Development_Index_(HDI)_2021","Life expectancy at birth":"Life_expectancy_at_birth_2021","Expected years of schooling":"Mean_years_of_schooling_2021","Mean years of schooling":"Mean_years_of_schooling_2021","Gross national income (GNI) per capita":"Gross_national_income_(GNI)_per_capita_2017PPP$_2021","GNI per capita rank minus HDI rank":"GNI_per_capita_rank_minus_HDI_rank_2021","HDI rank.1":"HDI_Rank_2020"}
bloque3Cleaned.rename(columns=change,inplace=True)
bloque3Cleaned

bloque3Cleaned.reset_index(drop=True, inplace=True)
bloque3Cleaned.index += 1

bloque3Cleaned

,Country,Human Development Index (HDI),Life_expectancy_at_birth_2021,Mean_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
1,Philippines,0.699,69.2664,13.126570,8.969100,8920.428468,-3.0,113.0
2,Botswana,0.693,61.1409,12.265138,10.340000,16198.318410,-43.0,110.0
3,Bolivia (Plurinational State of),0.692,63.6304,14.946971,9.827750,8111.190194,0.0,119.0
4,Kyrgyzstan,0.692,69.9774,13.195300,11.374106,4566.303831,26.0,121.0
5,Venezuela (Bolivarian Republic of),0.691,70.5536,12.816080,11.107277,4810.882621,20.0,118.0
6,Iraq,0.686,70.3779,12.087473,7.905593,9977.249073,-12.0,122.0
7,Tajikistan,0.685,71.5942,11.653036,11.333394,4547.742427,23.0,126.0
8,Belize,0.683,70.4697,12.991690,8.847600,6309.099778,6.0,120.0
9,Morocco,0.683,74.0419,14.151910,5.916000,7302.819170,1.0,122.0
10,El Salvador,0.675,70.7479,12.671348,7.150930,8295.665889,-8.0,124.0
11,Nicaragua,0.667,73.8368,12.641358,7.144000,5624.793595,6.0,129.0
12,Bhutan,0.666,71.8150,13.225005,5.170262,9437.541512,-15.0,125.0
13,Cabo Verde,0.662,74.0518,12.554614,6.287719,6230.200199,2.0,127.0
14,Bangladesh,0.661,72.3811,12.441980,7.379060,5472.104781,4.0,128.0
15,Tuvalu,0.641,64.5466,9.404430,10.573108,6351.435899,-2.0,131.0
16,Marshall Islands,0.639,65.2688,10.239320,10.883140,4619.535393,12.0,131.0
17,India,0.633,67.2398,11.874620,6.655109,6589.980037,-6.0,130.0
18,Ghana,0.632,63.7954,12.047780,8.329887,5744.504017,-2.0,135.0
19,Micronesia (Federated States of),0.628,70.7100,11.549480,7.804956,3696.173945,22.0,136.0
20,Guatemala,0.627,69.2368,10.562450,5.681300,8723.285317,-20.0,133.0
21,Kiribati,0.624,67.4172,11.801993,7.984462,4062.586034,14.0,137.0
22,Honduras,0.621,70.1229,10.132814,7.088480,5297.955301,-1.0,138.0
23,Sao Tome and Principe,0.618,67.5912,13.365385,6.215599,4021.350815,13.0,139.0
24,Namibia,0.615,59.2690,11.927207,7.192013,8633.504452,-23.0,134.0
25,Lao People's Democratic Republic,0.607,68.0608,10.136110,5.374000,7699.579617,-18.0,142.0
26,Timor-Leste,0.607,67.7369,12.616098,5.436790,4460.869435,7.0,140.0
27,Vanuatu,0.607,70.4490,11.535315,7.064846,3085.411633,23.0,142.0
28,Nepal,0.602,68.4495,12.886950,5.121793,3877.315444,10.0,144.0
29,Eswatini (Kingdom of),0.597,57.0657,13.744346,5.596000,7678.591873,-21.0,141.0
30,Equatorial Guinea,0.596,60.5943,9.734940,5.910863,12073.959930,-47.0,147.0
31,Cambodia,0.593,69.5835,11.467720,5.088000,4078.697154,3.0,148.0
32,Zimbabwe,0.593,59.2531,12.110969,8.710909,3809.887158,9.0,145.0
33,Angola,0.586,61.6434,12.172100,5.417391,5465.617791,-14.0,149.0
34,Myanmar,0.585,65.6716,10.909138,6.376800,3850.524234,5.0,145.0
35,Syrian Arab Republic,0.577,72.0627,9.164220,5.100000,4191.933893,-2.0,152.0
36,Cameroon,0.576,60.3334,13.108599,6.151310,3620.932408,6.0,150.0
37,Kenya,0.575,61.4270,10.698558,6.652000,4473.570344,-6.0,150.0
38,Congo,0.571,63.5187,12.330815,6.166000,2889.283521,11.0,153.0
39,Zambia,0.565,61.2234,10.928760,7.187091,3217.767739,7.0,154.0
40,Solomon Islands,0.564,70.3477,10.328690,5.711848,2481.511362,13.0,155.0
41,Comoros,0.558,63.4174,11.924324,5.078649,3142.064119,6.0,156.0
42,Papua New Guinea,0.558,65.3506,10.360771,4.740000,4008.623573,-4.0,157.0
43,Mauritania,0.556,64.3636,9.376160,4.918805,5075.305711,-20.0,158.0
44,Côte d'Ivoire,0.550,58.5983,10.675580,5.199139,5217.448516,-22.0,159.0

In [300]:
bloque3Cleaned.columns = bloque3Cleaned.columns.str.strip()
bloque3Cleaned = bloque3Cleaned.rename(columns={"Human Development Index (HDI)": "Human_Development_Index_(HDI)_2021"})

# Se verificará si el cambio fue realizado correctamente
bloque3Cleaned.columns

Index(['Country', 'Human_Development_Index_(HDI)_2021',
       'Life_expectancy_at_birth_2021', 'Mean_years_of_schooling_2021',
       'Mean_years_of_schooling_2021',
       'Gross_national_income_(GNI)_per_capita_2017PPP$_2021',
       'GNI_per_capita_rank_minus_HDI_rank_2021', 'HDI_Rank_2020'],
      dtype='object')

In [301]:
bloque3Cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 1 to 44
Data columns (total 8 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Country                                               44 non-null     object
 1   Human_Development_Index_(HDI)_2021                    44 non-null     float64
 2   Life_expectancy_at_birth_2021                         44 non-null     float64
 3   Mean_years_of_schooling_2021                          44 non-null     float64
 4   Mean_years_of_schooling_2021                          44 non-null     float64
 5   Gross_national_income_(GNI)_per_capita_2017PPP$_2021  44 non-null     float64
 6   GNI_per_capita_rank_minus_HDI_rank_2021               44 non-null     float64
 7   HDI_Rank_2020                                         44 non-null     float64
dtypes: float64(7), object(1)
memory usage: 2.9+ KB

In [302]:
Link4='https://github.com/XimenaMamani-ctrl/ICDE-control2-25-09-/raw/main/appendData/level4.xlsx'

import pandas as pd
bloque4=pd.read_excel(Link4)
bloque4

,HDI rank,Country,Unnamed: 2,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,le
0,160,Tanzania (United Republic of),LOW HUMAN DEVELOPMENT,0.549,66.2007,9.221490,6.372899,2664.329096,7,NaN
1,161,Pakistan,LOW HUMAN DEVELOPMENT,0.544,66.0979,8.658350,4.536330,4623.705430,-19,NaN
2,162,Togo,LOW HUMAN DEVELOPMENT,0.539,61.6194,12.950494,5.016807,2166.619062,12,NaN
3,163,Haiti,LOW HUMAN DEVELOPMENT,0.535,63.1924,9.700000,5.554000,2847.500746,2,NaN
4,163,Nigeria,LOW HUMAN DEVELOPMENT,0.535,52.6760,10.127584,7.181074,4790.284425,-22,NaN
5,165,Rwanda,LOW HUMAN DEVELOPMENT,0.534,66.0722,11.230970,4.425292,2209.795202,6,NaN
6,166,Benin,LOW HUMAN DEVELOPMENT,0.525,59.8210,10.766680,4.304786,3408.965923,-7,NaN
7,166,Uganda,LOW HUMAN DEVELOPMENT,0.525,62.7048,10.149870,5.730942,2181.436510,6,NaN
8,168,Lesotho,LOW HUMAN DEVELOPMENT,0.514,53.0620,12.040878,6.010185,2700.435748,-2,NaN
9,169,Malawi,LOW HUMAN DEVELOPMENT,0.512,62.9044,12.678985,4.489695,1465.635064,13,NaN
10,170,Senegal,LOW HUMAN DEVELOPMENT,0.511,67.0926,8.963750,2.937938,3344.311825,-10,NaN
11,171,Djibouti,LOW HUMAN DEVELOPMENT,0.509,62.3049,7.432980,4.100000,5024.993944,-32,NaN
12,172,Sudan,LOW HUMAN DEVELOPMENT,0.508,65.2667,7.945188,3.820000,3575.190840,-14,NaN
13,173,Madagascar,LOW HUMAN DEVELOPMENT,0.501,64.4853,10.134991,5.120469,1483.520983,8,NaN
14,174,Gambia,LOW HUMAN DEVELOPMENT,0.500,62.0830,9.418626,4.637487,2172.207664,-1,NaN
15,175,Ethiopia,LOW HUMAN DEVELOPMENT,0.498,64.9748,9.651071,3.201521,2361.069604,-5,NaN
16,176,Eritrea,LOW HUMAN DEVELOPMENT,0.492,66.5358,8.064525,4.887235,1728.742667,3,NaN
17,177,Guinea-Bissau,LOW HUMAN DEVELOPMENT,0.483,59.6523,10.613063,3.583719,1908.241590,0,NaN
18,178,Liberia,LOW HUMAN DEVELOPMENT,0.481,60.7472,10.420790,5.082000,1288.742350,7,NaN
19,179,Congo (Democratic Republic of the),LOW HUMAN DEVELOPMENT,0.479,59.1930,9.817864,7.018697,1076.098781,9,NaN
20,180,Afghanistan,LOW HUMAN DEVELOPMENT,0.478,61.9824,10.263844,2.985070,1824.190915,-2,NaN
21,181,Sierra Leone,LOW HUMAN DEVELOPMENT,0.477,60.0624,9.573391,4.576081,1621.512579,-1,NaN
22,182,Guinea,LOW HUMAN DEVELOPMENT,0.465,58.8922,9.805297,2.202126,2480.887182,-13,NaN
23,183,Yemen,LOW HUMAN DEVELOPMENT,0.455,63.7534,9.098710,3.200000,1314.270189,1,NaN
24,184,Burkina Faso,LOW HUMAN DEVELOPMENT,0.449,59.2696,9.142100,2.114962,2117.915916,-8,NaN
25,185,Mozambique,LOW HUMAN DEVELOPMENT,0.446,59.3247,10.219152,3.197642,1198.073924,2,NaN
26,186,Mali,LOW HUMAN DEVELOPMENT,0.428,58.9414,7.423038,2.310000,2132.629443,-11,NaN
27,187,Burundi,LOW HUMAN DEVELOPMENT,0.426,61.6627,10.722722,3.129267,731.786709,4,NaN
28,188,Central African Republic,LOW HUMAN DEVELOPMENT,0.404,53.8947,8.040172,4.334000,966.058611,1,NaN
29,189,Niger,LOW HUMAN DEVELOPMENT,0.400,61.5763,6.957112,2.116717,1239.866936,-3,NaN
30,190,Chad,LOW HUMAN DEVELOPMENT,0.394,52.5254,8.035914,2.573774,1364.169417,-7,NaN
31,191,South Sudan,LOW HUMAN DEVELOPMENT,0.385,54.9752,5.542510,5.726140,767.787000,-1,NaN

In [303]:
keep=['Country','Human Development Index (HDI) ','Life expectancy at birth','Expected years of schooling','Mean years of schooling','Gross national income (GNI) per capita','GNI per capita rank minus HDI rank']
dontKeep=set(bloque4.columns.to_list())-set(keep)
bloque4Cleaned=bloque4.drop(columns=dontKeep)

#Se reestableció el índice del dataframe
bloque4Cleaned = bloque4Cleaned.reset_index(drop=True)


change={"Human Development Index (HDI)":"Human_Development_Index_(HDI)_2021","Life expectancy at birth":"Life_expectancy_at_birth_2021","Expected years of schooling":"Mean_years_of_schooling_2021","Mean years of schooling":"Mean_years_of_schooling_2021","Gross national income (GNI) per capita":"Gross_national_income_(GNI)_per_capita_2017PPP$_2021","GNI per capita rank minus HDI rank":"GNI_per_capita_rank_minus_HDI_rank_2021","HDI rank.1":"HDI_Rank_2020"}
bloque4Cleaned.rename(columns=change,inplace=True)
bloque4Cleaned

bloque4Cleaned.reset_index(drop=True, inplace=True)
bloque4Cleaned.index += 1

bloque4Cleaned.columns = bloque4Cleaned.columns.str.strip()
bloque4Cleaned = bloque4Cleaned.rename(columns={"Human Development Index (HDI)": "Human_Development_Index_(HDI)_2021"})

import numpy as np

bloque4Cleaned['HDI_Rank_2020'] = np.nan

bloque4Cleaned

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Mean_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
1,Tanzania (United Republic of),0.549,66.2007,9.221490,6.372899,2664.329096,7,NaN
2,Pakistan,0.544,66.0979,8.658350,4.536330,4623.705430,-19,NaN
3,Togo,0.539,61.6194,12.950494,5.016807,2166.619062,12,NaN
4,Haiti,0.535,63.1924,9.700000,5.554000,2847.500746,2,NaN
5,Nigeria,0.535,52.6760,10.127584,7.181074,4790.284425,-22,NaN
6,Rwanda,0.534,66.0722,11.230970,4.425292,2209.795202,6,NaN
7,Benin,0.525,59.8210,10.766680,4.304786,3408.965923,-7,NaN
8,Uganda,0.525,62.7048,10.149870,5.730942,2181.436510,6,NaN
9,Lesotho,0.514,53.0620,12.040878,6.010185,2700.435748,-2,NaN
10,Malawi,0.512,62.9044,12.678985,4.489695,1465.635064,13,NaN
11,Senegal,0.511,67.0926,8.963750,2.937938,3344.311825,-10,NaN
12,Djibouti,0.509,62.3049,7.432980,4.100000,5024.993944,-32,NaN
13,Sudan,0.508,65.2667,7.945188,3.820000,3575.190840,-14,NaN
14,Madagascar,0.501,64.4853,10.134991,5.120469,1483.520983,8,NaN
15,Gambia,0.500,62.0830,9.418626,4.637487,2172.207664,-1,NaN
16,Ethiopia,0.498,64.9748,9.651071,3.201521,2361.069604,-5,NaN
17,Eritrea,0.492,66.5358,8.064525,4.887235,1728.742667,3,NaN
18,Guinea-Bissau,0.483,59.6523,10.613063,3.583719,1908.241590,0,NaN
19,Liberia,0.481,60.7472,10.420790,5.082000,1288.742350,7,NaN
20,Congo (Democratic Republic of the),0.479,59.1930,9.817864,7.018697,1076.098781,9,NaN
21,Afghanistan,0.478,61.9824,10.263844,2.985070,1824.190915,-2,NaN
22,Sierra Leone,0.477,60.0624,9.573391,4.576081,1621.512579,-1,NaN
23,Guinea,0.465,58.8922,9.805297,2.202126,2480.887182,-13,NaN
24,Yemen,0.455,63.7534,9.098710,3.200000,1314.270189,1,NaN
25,Burkina Faso,0.449,59.2696,9.142100,2.114962,2117.915916,-8,NaN
26,Mozambique,0.446,59.3247,10.219152,3.197642,1198.073924,2,NaN
27,Mali,0.428,58.9414,7.423038,2.310000,2132.629443,-11,NaN
28,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4,NaN
29,Central African Republic,0.404,53.8947,8.040172,4.334000,966.058611,1,NaN
30,Niger,0.400,61.5763,6.957112,2.116717,1239.866936,-3,NaN
31,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7,NaN
32,South Sudan,0.385,54.9752,5.542510,5.726140,767.787000,-1,NaN

In [304]:
bloque4Cleaned['GNI_per_capita_rank_minus_HDI_rank_2021'] = bloque4Cleaned['GNI_per_capita_rank_minus_HDI_rank_2021'].astype('float64')
bloque4Cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 1 to 32
Data columns (total 8 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Country                                               32 non-null     object
 1   Human_Development_Index_(HDI)_2021                    32 non-null     float64
 2   Life_expectancy_at_birth_2021                         32 non-null     float64
 3   Mean_years_of_schooling_2021                          32 non-null     float64
 4   Mean_years_of_schooling_2021                          32 non-null     float64
 5   Gross_national_income_(GNI)_per_capita_2017PPP$_2021  32 non-null     float64
 6   GNI_per_capita_rank_minus_HDI_rank_2021               32 non-null     float64
 7   HDI_Rank_2020                                         0 non-null      float64
dtypes: float64(7), object(1)
memory usage: 2.1+ KB

In [305]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [306]:
bloque1Cleaned.to_excel('data_limpia1.xlsx', index=False)
bloque2Cleaned.to_excel('data_limpia2.xlsx', index=False)
bloque3Cleaned.to_excel('data_limpia3.xlsx', index=False)
bloque4Cleaned.to_excel('data_limpia4.xlsx', index=False)

In [307]:
# Se movió los archivos excel al drive
!cp data_limpia1.xlsx /content/drive/MyDrive/
!cp data_limpia2.xlsx /content/drive/MyDrive/
!cp data_limpia3.xlsx /content/drive/MyDrive/
!cp data_limpia4.xlsx /content/drive/MyDrive/

In [311]:
import pandas as pd
data_limpia1 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vT0eBufDFmkNZjZ7C-K6_aSq7ad9eB1YncRgcmOeh7myeotLXUVz_dcAgMYMl16UQ/pub?output=csv'
data_limpia2 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQvqSe2Js722g9BhyFfvjOydVNrsyci2ms50g9wK9PI9t_3fdBKtef0P3w8PHjxmg/pub?output=csv'
data_limpia3 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRYd_oKHRrx8sFiZ71oi2Gs9wA2eGT_k8tf7qTsZVSUltSGtuwdqO2Ef-6yBQNbKQ/pub?output=csv'
data_limpia4 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSO8CzHAKnhz0t7oqesVwEHfefbMNZ14ckTwrXI1rMdmALaRn1PbLrtG0ScRQ140Q/pub?output=csv'

#Se procede a leer todos los archivos Excel en DataFrames
df_2013 = pd.read_csv(data_limpia1)
df_2014 = pd.read_csv(data_limpia2)
df_2015 = pd.read_csv(data_limpia3)
df_2016 = pd.read_csv(data_limpia4)
# se empieza a concatenar los DataFrames en uno solo
DataCompleta = pd.concat([df_2013, df_2014, df_2015, df_2016], ignore_index=True)

DataCompleta

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Expected_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020,Mean_years_of_schooling_2021.1
0,Switzerland,"0,962","83,9872","16,50029945","13,85966015","66933,00454",5,3.0,NaN
1,Norway,"0,961","83,2339","18,18519974","13,00362968","64660,10622",6,1.0,NaN
2,Iceland,"0,959","82,6782","19,16305923","13,76716995","55782,04981",11,2.0,NaN
3,"Hong Kong, China (SAR)","0,952","85,4734","17,27816963","12,22620964","62606,8454",6,4.0,NaN
4,Australia,"0,951","84,5265","21,05459023","12,72681999","49238,43335",18,5.0,NaN
...,...,...,...,...,...,...,...,...,...
186,Burundi,"0,426","61,6627",NaN,"10,72272189","731,7867086",4,NaN,"3,129266883"
187,Central African Republic,"0,404","53,8947",NaN,"8,040171714","966,0586107",1,NaN,"4,334"
188,Niger,"0,4","61,5763",NaN,"6,957111988","1239,866936",-3,NaN,"2,116717299"
189,Chad,"0,394","52,5254",NaN,"8,035914334","1364,169417",-7,NaN,"2,57377421"
190,South Sudan,"0,385","54,9752",NaN,"5,54251","767,787",-1,NaN,"5,726140022"

In [312]:
#Se limpian algunas columnas sobrantes
DataCompleta = DataCompleta.iloc[:, :-1]

DataCompleta

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Expected_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
0,Switzerland,"0,962","83,9872","16,50029945","13,85966015","66933,00454",5,3.0
1,Norway,"0,961","83,2339","18,18519974","13,00362968","64660,10622",6,1.0
2,Iceland,"0,959","82,6782","19,16305923","13,76716995","55782,04981",11,2.0
3,"Hong Kong, China (SAR)","0,952","85,4734","17,27816963","12,22620964","62606,8454",6,4.0
4,Australia,"0,951","84,5265","21,05459023","12,72681999","49238,43335",18,5.0
...,...,...,...,...,...,...,...,...
186,Burundi,"0,426","61,6627",NaN,"10,72272189","731,7867086",4,NaN
187,Central African Republic,"0,404","53,8947",NaN,"8,040171714","966,0586107",1,NaN
188,Niger,"0,4","61,5763",NaN,"6,957111988","1239,866936",-3,NaN
189,Chad,"0,394","52,5254",NaN,"8,035914334","1364,169417",-7,NaN
190,South Sudan,"0,385","54,9752",NaN,"5,54251","767,787",-1,NaN

In [313]:
#Se reemplaza la coma por el punto para tener listas numéricas
DataCompleta[('Human_Development_Index_(HDI)_2021')]=DataCompleta[('Human_Development_Index_(HDI)_2021')].str.replace(",",'.')
DataCompleta[('Life_expectancy_at_birth_2021')]=DataCompleta[('Life_expectancy_at_birth_2021')].str.replace(",",'.')
DataCompleta[('Expected_years_of_schooling_2021')]=DataCompleta[('Expected_years_of_schooling_2021')].str.replace(",",'.')
DataCompleta[('Mean_years_of_schooling_2021')]=DataCompleta[('Mean_years_of_schooling_2021')].str.replace(",",'.')
DataCompleta[('Gross_national_income_(GNI)_per_capita_2017PPP$_2021')]=DataCompleta[('Gross_national_income_(GNI)_per_capita_2017PPP$_2021')].str.replace(",",'.')
DataCompleta

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Expected_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
0,Switzerland,0.962,83.9872,16.50029945,13.85966015,66933.00454,5,3.0
1,Norway,0.961,83.2339,18.18519974,13.00362968,64660.10622,6,1.0
2,Iceland,0.959,82.6782,19.16305923,13.76716995,55782.04981,11,2.0
3,"Hong Kong, China (SAR)",0.952,85.4734,17.27816963,12.22620964,62606.8454,6,4.0
4,Australia,0.951,84.5265,21.05459023,12.72681999,49238.43335,18,5.0
...,...,...,...,...,...,...,...,...
186,Burundi,0.426,61.6627,NaN,10.72272189,731.7867086,4,NaN
187,Central African Republic,0.404,53.8947,NaN,8.040171714,966.0586107,1,NaN
188,Niger,0.4,61.5763,NaN,6.957111988,1239.866936,-3,NaN
189,Chad,0.394,52.5254,NaN,8.035914334,1364.169417,-7,NaN
190,South Sudan,0.385,54.9752,NaN,5.54251,767.787,-1,NaN

In [315]:
DataCompleta[('Human_Development_Index_(HDI)_2021')] = pd.to_numeric(DataCompleta[('Human_Development_Index_(HDI)_2021')], errors='coerce')
DataCompleta[('Life_expectancy_at_birth_2021')] = pd.to_numeric(DataCompleta[('Life_expectancy_at_birth_2021')], errors='coerce')
DataCompleta[('Mean_years_of_schooling_2021')] = pd.to_numeric(DataCompleta[('Mean_years_of_schooling_2021')], errors='coerce')
DataCompleta[('Gross_national_income_(GNI)_per_capita_2017PPP$_2021')] = pd.to_numeric(DataCompleta[('Gross_national_income_(GNI)_per_capita_2017PPP$_2021')], errors='coerce')
DataCompleta[('Expected_years_of_schooling_2021')] = pd.to_numeric(DataCompleta[('Expected_years_of_schooling_2021')], errors='coerce')
DataCompleta['GNI_per_capita_rank_minus_HDI_rank_2021'] = DataCompleta['GNI_per_capita_rank_minus_HDI_rank_2021'].astype('float64')
DataCompleta['HDI_Rank_2020'] = DataCompleta['HDI_Rank_2020'].astype('float64')

DataCompleta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 8 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Country                                               191 non-null    object
 1   Human_Development_Index_(HDI)_2021                    191 non-null    float64
 2   Life_expectancy_at_birth_2021                         191 non-null    float64
 3   Expected_years_of_schooling_2021                      66 non-null     float64
 4   Mean_years_of_schooling_2021                          191 non-null    float64
 5   Gross_national_income_(GNI)_per_capita_2017PPP$_2021  191 non-null    float64
 6   GNI_per_capita_rank_minus_HDI_rank_2021               191 non-null    float64
 7   HDI_Rank_2020                                         159 non-null    float64
dtypes: float64(7), object(1)
memory usage: 12.1+ KB

In [317]:
DataCompleta

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Expected_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
0,Switzerland,0.962,83.9872,16.500299,13.859660,66933.004540,5.0,3.0
1,Norway,0.961,83.2339,18.185200,13.003630,64660.106220,6.0,1.0
2,Iceland,0.959,82.6782,19.163059,13.767170,55782.049810,11.0,2.0
3,"Hong Kong, China (SAR)",0.952,85.4734,17.278170,12.226210,62606.845400,6.0,4.0
4,Australia,0.951,84.5265,21.054590,12.726820,49238.433350,18.0,5.0
...,...,...,...,...,...,...,...,...
186,Burundi,0.426,61.6627,NaN,10.722722,731.786709,4.0,NaN
187,Central African Republic,0.404,53.8947,NaN,8.040172,966.058611,1.0,NaN
188,Niger,0.400,61.5763,NaN,6.957112,1239.866936,-3.0,NaN
189,Chad,0.394,52.5254,NaN,8.035914,1364.169417,-7.0,NaN
190,South Sudan,0.385,54.9752,NaN,5.542510,767.787000,-1.0,NaN

In [319]:
CODELink="https://docs.google.com/spreadsheets/d/e/2PACX-1vSSwHwiVUu9_N_3RX5PVO28sZArV38Me9Akb75ExaIqRP_cSncoZ6ZN4TLI1cDQvA/pub?output=csv"

import pandas as pd
CODE=pd.read_csv(CODELink)
CODE

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [322]:
# Se convirtió los nombres de los países para conseguir la columna clave
CODE['Country'] = CODE['Country'].str.title()

# Verificar el cambio
CODE

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,Afghanistan,The Islamic Republic of Afghanistan,.af,AF,AFG
1,Albania,The Republic of Albania,.al,AL,ALB
2,Algeria,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,Angola,The Republic of Angola,.ao,AO,AGO
4,Antigua And Barbuda,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,Uzbekistan,The Republic of Uzbekistan,.uz,UZ,UZB
167,Viet Nam,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,Yemen,The Republic of Yemen,.ye,YE,YEM
169,Zambia,The Republic of Zambia,.zm,ZM,ZMB
170,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE

In [325]:
DataCompleta.shape,CODE.shape

((191, 8), (171, 5))

In [326]:
DataCompleta.columns,CODE.columns

(Index(['Country', 'Human_Development_Index_(HDI)_2021',
        'Life_expectancy_at_birth_2021', 'Expected_years_of_schooling_2021',
        'Mean_years_of_schooling_2021',
        'Gross_national_income_(GNI)_per_capita_2017PPP$_2021',
        'GNI_per_capita_rank_minus_HDI_rank_2021', 'HDI_Rank_2020'],
       dtype='object'),
 Index(['Country', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3'], dtype='object'))

In [327]:
DataCompleta.merge(CODE,how='inner',left_on='Country',right_on='Country').shape
DataCompleta

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Expected_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020
0,Switzerland,0.962,83.9872,16.500299,13.859660,66933.004540,5.0,3.0
1,Norway,0.961,83.2339,18.185200,13.003630,64660.106220,6.0,1.0
2,Iceland,0.959,82.6782,19.163059,13.767170,55782.049810,11.0,2.0
3,"Hong Kong, China (SAR)",0.952,85.4734,17.278170,12.226210,62606.845400,6.0,4.0
4,Australia,0.951,84.5265,21.054590,12.726820,49238.433350,18.0,5.0
...,...,...,...,...,...,...,...,...
186,Burundi,0.426,61.6627,NaN,10.722722,731.786709,4.0,NaN
187,Central African Republic,0.404,53.8947,NaN,8.040172,966.058611,1.0,NaN
188,Niger,0.400,61.5763,NaN,6.957112,1239.866936,-3.0,NaN
189,Chad,0.394,52.5254,NaN,8.035914,1364.169417,-7.0,NaN
190,South Sudan,0.385,54.9752,NaN,5.542510,767.787000,-1.0,NaN

In [328]:
DataCompleta.merge(CODE,how='left',left_on='Country',right_on='Country').shape

(191, 12)

In [329]:
DataCompleta.merge(CODE,how='outer',left_on='Country',right_on='Country').shape

(220, 12)

In [331]:
set(DataCompleta.Country)-set(CODE.Country)

{'Andorra',
 'Antigua and Barbuda',
 'Bahamas',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Central African Republic',
 'Comoros',
 'Congo',
 'Congo (Democratic Republic of the)',
 "Côte d'Ivoire",
 'Dominica',
 'Dominican Republic',
 'Eritrea',
 'Eswatini (Kingdom of)',
 'Gambia',
 'Hong Kong, China (SAR)',
 'Iran (Islamic Republic of)',
 'Israel',
 'Kiribati',
 'Korea (Republic of)',
 "Lao People's Democratic Republic",
 'Liechtenstein',
 'Marshall Islands',
 'Micronesia (Federated States of)',
 'Moldova (Republic of)',
 'Netherlands',
 'Niger',
 'Palau',
 'Palestine, State of',
 'Philippines',
 'Russian Federation',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Sao Tome and Principe',
 'South Africa',
 'Sudan',
 'Syrian Arab Republic',
 'Tanzania (United Republic of)',
 'Tonga',
 'Trinidad and Tobago',
 'Tuvalu',
 'Türkiye',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)'}

In [333]:
set(CODE.Country)-set(DataCompleta.Country)

{'Antigua And Barbuda',
 'Bahamas (The)',
 'Bolivia (Plurinational State Of)',
 'Bosnia And Herzegovina',
 'Central African Republic (The)',
 'Comoros (The)',
 'Congo (The Democratic Republic Of The)',
 'Congo (The)',
 "C√Îte D'Ivoire",
 'Dominican Republic (The)',
 'Eswatini',
 'Gambia (The)',
 'Iran (Islamic Republic Of)',
 'Korea (The Republic Of)',
 "Lao People'S Democratic Republic (The)",
 'Micronesia (Federated States Of)',
 'Moldova (The Republic Of)',
 'Netherlands (The)',
 'Niger (The)',
 'Philippines (The)',
 'Russian Federation (The)',
 'Sao Tome And Principe',
 'Sudan (The)',
 'Tanzania, The United Republic Of',
 'Trinidad And Tobago',
 'Turkey',
 'United Arab Emirates (The)',
 'United Kingdom Of Great Britain And Northern Ireland (The)',
 'United States Minor Outlying Islands (The)'}

In [338]:
#Se realiza el merge entre el data completo de las cuatro tablas y los códigos de los países
DATAandCODE_merged = pd.merge(DataCompleta, CODE, on='Country', how='left')
DATAandCODE_merged.reset_index(drop=True, inplace=True)
DATAandCODE_merged.index += 1

DATAandCODE_merged

,Country,Human_Development_Index_(HDI)_2021,Life_expectancy_at_birth_2021,Expected_years_of_schooling_2021,Mean_years_of_schooling_2021,Gross_national_income_(GNI)_per_capita_2017PPP$_2021,GNI_per_capita_rank_minus_HDI_rank_2021,HDI_Rank_2020,Officialstatename,InternetccTLD,iso2,iso3
1,Switzerland,0.962,83.9872,16.500299,13.859660,66933.004540,5.0,3.0,The Swiss Confederation,.ch,CH,CHE
2,Norway,0.961,83.2339,18.185200,13.003630,64660.106220,6.0,1.0,The Kingdom of Norway,.no,NO,NOR
3,Iceland,0.959,82.6782,19.163059,13.767170,55782.049810,11.0,2.0,Iceland,.is,IS,ISL
4,"Hong Kong, China (SAR)",0.952,85.4734,17.278170,12.226210,62606.845400,6.0,4.0,NaN,NaN,NaN,NaN
5,Australia,0.951,84.5265,21.054590,12.726820,49238.433350,18.0,5.0,The Commonwealth of Australia,.au,AU,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...
187,Burundi,0.426,61.6627,NaN,10.722722,731.786709,4.0,NaN,The Republic of Burundi,.bi,BI,BDI
188,Central African Republic,0.404,53.8947,NaN,8.040172,966.058611,1.0,NaN,NaN,NaN,NaN,NaN
189,Niger,0.400,61.5763,NaN,6.957112,1239.866936,-3.0,NaN,NaN,NaN,NaN,NaN
190,Chad,0.394,52.5254,NaN,8.035914,1364.169417,-7.0,NaN,The Republic of Chad,.td,TD,TCD
191,South Sudan,0.385,54.9752,NaN,5.542510,767.787000,-1.0,NaN,The Republic of South Sudan,.ss,SS,SSD

In [351]:
#Al terminar, se exporta en csv
DATAandCODE_merged.to_csv("DATAandCODE_merged.csv", index=False)

Tercera parte

In [345]:
Lista="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1uz3AbIpCrcMHIPfQ0GxCTHX9v4kkA3EiCzQp7GBsPVYQFsUm7WnjhzqFD1WFgjO5es1s2i0EyapJ/pub?output=csv"

import pandas as pd
FacellidosCOVID=pd.read_csv(Lista)
FacellidosCOVID

,FECHA_CORTE,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UUID
0,20240317,20220219,63,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203506.0
1,20240317,20210529,74,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203532.0
2,20240317,20210623,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203584.0
3,20240317,20210824,85,MASCULINO,Criterio investigación Epidemiológica,TUMBES,TUMBES,TUMBES,240101.0,212541.0
4,20240317,20210627,46,MASCULINO,Criterio virológico,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203665.0
...,...,...,...,...,...,...,...,...,...,...
220913,20240317,20200809,77,MASCULINO,Criterio radiológico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,40102.0,NaN
220914,20240317,20201028,81,MASCULINO,Criterio clínico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101.0,NaN
220915,20240317,20200515,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114.0,NaN
220916,20240317,20210414,66,FEMENINO,Criterio clínico,LIMA,LIMA,LOS OLIVOS,150117.0,NaN
220917,20240317,20200819,61,MASCULINO,Criterio nexo epidemiológico,PIURA,PIURA,TAMBO GRANDE,200114.0,NaN

In [346]:
FacellidosCOVID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220918 entries, 0 to 220917
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FECHA_CORTE          220918 non-null  int64
 1   FECHA_FALLECIMIENTO  220918 non-null  int64
 2   EDAD_DECLARADA       220918 non-null  int64
 3   SEXO                 220918 non-null  object
 4   CLASIFICACION_DEF    220918 non-null  object
 5   DEPARTAMENTO         220918 non-null  object
 6   PROVINCIA            220913 non-null  object
 7   DISTRITO             220913 non-null  object
 8   UBIGEO               220913 non-null  float64
 9   UUID                 218449 non-null  float64
dtypes: float64(2), int64(3), object(5)
memory usage: 16.9+ MB

In [357]:
FacellidosCOVID['FECHA_FALLECIMIENTO'] = pd.to_datetime(FacellidosCOVID['FECHA_FALLECIMIENTO'], format='%Y%m%d', errors='coerce')

#Se craron nuevas tablas de año y mes
FacellidosCOVID['AÑO'] = FacellidosCOVID['FECHA_FALLECIMIENTO'].dt.year
FacellidosCOVID['MES'] = FacellidosCOVID['FECHA_FALLECIMIENTO'].dt.month

#Se agrupan por año y mes y además se coeuntan los fallecidos
reporte_mensual = FacellidosCOVID.groupby(['AÑO', 'MES']).size().reset_index(name='TOTAL_FALLECIDOS')

#wide to long usando year and month como fila
reporte_mensual['MES_AÑO'] = reporte_mensual['AÑO'].astype(str) + '-' + reporte_mensual['MES'].astype(str).str.zfill(2)

# Seleccionar solo la columna "MES_AÑO" y "TOTAL_FALLECIDOS"
reporte_final = reporte_mensual[['MES_AÑO', 'TOTAL_FALLECIDOS']]

reporte_final

    MES_AÑO  TOTAL_FALLECIDOS
0   2020-03               181
1   2020-04              5134
2   2020-05             16363
3   2020-06             17462
4   2020-07             18501
5   2020-08             17668
6   2020-09              8437
7   2020-10              4471
8   2020-11              3229
9   2020-12              3885
10  2021-01             11175
11  2021-02             18645
12  2021-03             20691
13  2021-04             23110
14  2021-05             16692
15  2021-06              7722
16  2021-07              3481
17  2021-08              1850
18  2021-09              1140
19  2021-10              1066
20  2021-11              1107
21  2021-12              1283
22  2022-01              3562
23  2022-02              3503
24  2022-03              1299
25  2022-04               741
26  2022-05               625
27  2022-06               542
28  2022-07              1025
29  2022-08              1429
30  2022-09               892
31  2022-10               429
32  2022-11               272
33  2022-12               423
34  2023-01               371
35  2023-02               287
36  2023-03               295
37  2023-04               337
38  2023-05               323
39  2023-06               291
40  2023-07               258
41  2023-08               249
42  2023-09                60
43  2023-10                26
44  2023-11                33
45  2023-12                40
46  2024-01               249
47  2024-02                62
48  2024-03                 2

In [368]:
#Long to wide

# Convertir la columna 'FECHA_FALLECIMIENTO' a formato datetime
FacellidosCOVID['FECHA_FALLECIMIENTO'] = pd.to_datetime(FacellidosCOVID['FECHA_FALLECIMIENTO'], format='%Y%m%d', errors='coerce')

# Crear un reporte de fallecidos por mes con columnas separadas para cada tipo de clasificación
reporte_mensual_clasificacion = FacellidosCOVID.pivot_table(
    index=FacellidosCOVID['FECHA_FALLECIMIENTO'].dt.to_period('M'),  # Agrupar por mes
    columns='CLASIFICACION_DEF',  # Crear columnas separadas para cada clasificación de defución
    aggfunc='size',  # Contar la cantidad de fallecidos por cada clasificación
    fill_value=0  # Rellenar con 0 donde no haya datos en vez
).reset_index()

# Mostrar el resultado
reporte_mensual_clasificacion

<ipython-input-368-1db30fdfa3d8>:8: FutureWarning: 'm' is deprecated and will be removed in a future version, please use 'M' instead.
  index=FacellidosCOVID['FECHA_FALLECIMIENTO'].dt.to_period('m'),  # Agrupar por mes

CLASIFICACION_DEF,FECHA_FALLECIMIENTO,Criterio SINADEF,Criterio clínico,Criterio investigación Epidemiológica,Criterio nexo epidemiológico,Criterio radiológico,Criterio serológico,Criterio virológico,NotiCovid,sinadef
0,2020-03,35,52,25,2,7,2,58,0,0
1,2020-04,1793,541,498,68,182,778,1274,0,0
2,2020-05,6826,1152,1427,203,480,3233,3042,0,0
3,2020-06,5722,670,1706,251,391,5605,3117,0,0
4,2020-07,5012,609,1512,262,415,7501,3190,0,0
5,2020-08,4589,611,1456,208,534,7400,2870,0,0
6,2020-09,1984,475,755,105,233,3483,1402,0,0
7,2020-10,1091,463,469,50,172,1417,809,0,0
8,2020-11,704,462,307,37,186,867,666,0,0
9,2020-12,802,547,171,41,179,1047,1098,0,0
10,2021-01,2190,514,323,107,434,2448,5159,0,0
11,2021-02,4993,501,465,150,556,2539,9441,0,0
12,2021-03,6100,525,517,229,456,1703,11161,0,0
13,2021-04,7450,748,591,246,363,1488,12224,0,0
14,2021-05,5225,628,349,155,283,1175,8877,0,0
15,2021-06,2723,116,123,51,138,746,3825,0,0
16,2021-07,1025,113,67,35,68,521,1652,0,0
17,2021-08,578,75,22,15,36,287,837,0,0
18,2021-09,554,12,0,0,0,190,384,0,0
19,2021-10,469,12,0,0,0,148,437,0,0
20,2021-11,441,16,0,0,0,157,493,0,0
21,2021-12,585,8,0,0,0,133,557,0,0
22,2022-01,1894,22,0,0,0,41,1605,0,0
23,2022-02,1604,20,0,0,0,1,1878,0,0
24,2022-03,352,6,0,0,0,0,941,0,0
25,2022-04,131,9,0,0,0,0,601,0,0
26,2022-05,85,3,0,0,0,0,537,0,0
27,2022-06,81,3,0,0,0,0,458,0,0
28,2022-07,299,3,0,0,0,0,723,0,0
29,2022-08,405,6,0,0,0,0,1018,0,0
30,2022-09,154,12,0,0,0,0,726,0,0
31,2022-10,53,59,0,0,0,0,317,0,0
32,2022-11,23,0,0,0,0,0,249,0,0
33,2022-12,66,0,0,0,0,0,357,0,0
34,2023-01,34,1,0,0,0,0,336,0,0
35,2023-02,4,0,0,0,0,0,283,0,0
36,2023-03,6,0,0,0,0,0,289,0,0
37,2023-04,17,0,0,0,0,0,320,0,0
38,2023-05,6,0,0,0,0,0,317,0,0
39,2023-06,2,0,0,0,0,0,289,0,0
40,2023-07,3,0,0,0,0,0,255,0,0
41,2023-08,7,0,0,0,0,0,242,0,0
42,2023-09,7,0,0,0,0,0,53,0,0
43,2023-10,8,0,0,0,0,0,18,0,0
44,2023-11,13,0,0,0,0,0,20,0,0
45,2023-12,17,0,0,0,0,0,22,1,0
46,2024-01,35,0,0,0,0,0,83,115,16
47,2024-02,1,0,0,0,0,0,45,16,0
48,2024-03,0,0,0,0,0,0,2,0,0

In [369]:
# Extraer solo el mes de la columna 'FECHA_FALLECIMIENTO'
FacellidosCOVID['MES'] = FacellidosCOVID['FECHA_FALLECIMIENTO'].dt.month

# Crear un reporte de fallecidos por mes con columnas separadas para cada tipo de clasificación
reporte_mensual_clasificacion = FacellidosCOVID.pivot_table(
    index='MES',  # Agrupar por mes
    columns='CLASIFICACION_DEF',  # Crear columnas separadas para cada clasificación de defunción
    aggfunc='size',  # Contar la cantidad de fallecidos por cada clasificación
    fill_value=0  # Rellenar con 0 donde no haya datos
).reset_index()

# Mostrar el resultado
reporte_mensual_clasificacion

CLASIFICACION_DEF,MES,Criterio SINADEF,Criterio clínico,Criterio investigación Epidemiológica,Criterio nexo epidemiológico,Criterio radiológico,Criterio serológico,Criterio virológico,NotiCovid,sinadef
0,1,4153,537,323,107,434,2489,7183,115,16
1,2,6602,521,465,150,556,2540,11647,16,0
2,3,6493,583,542,231,463,1705,12451,0,0
3,4,9391,1298,1089,314,545,2266,14419,0,0
4,5,12142,1783,1776,358,763,4408,12773,0,0
5,6,8528,789,1829,302,529,6351,7689,0,0
6,7,6339,725,1579,297,483,8022,5820,0,0
7,8,5579,692,1478,223,570,7687,4967,0,0
8,9,2699,499,755,105,233,3673,2565,0,0
9,10,1621,534,469,50,172,1565,1581,0,0
10,11,1181,478,307,37,186,1024,1428,0,0
11,12,1470,555,171,41,179,1180,2034,1,0

In [371]:
change={"Criterio SINADEF":"Criterio_SINADEF","Criterio clínico":"Criterio_clínico","Criterio investigación Epidemiológica":"Criterio_investigación_Epidemiológica","Criterio nexo epidemiológico":"Criterio_nexo_epidemiológico","Criterio_radiológico":"Criterio_radiológico","Criterio serológico":"Criterio_serológico","Criterio virológico":"Criterio_virológico"}
reporte_mensual_clasificacion.rename(columns=change,inplace=True)
reporte_mensual_clasificacion

CLASIFICACION_DEF,MES,Criterio_SINADEF,Criterio_clínico,Criterio_investigación_Epidemiológica,Criterio_nexo_epidemiológico,Criterio radiológico,Criterio_serológico,Criterio_virológico,NotiCovid,sinadef
0,1,4153,537,323,107,434,2489,7183,115,16
1,2,6602,521,465,150,556,2540,11647,16,0
2,3,6493,583,542,231,463,1705,12451,0,0
3,4,9391,1298,1089,314,545,2266,14419,0,0
4,5,12142,1783,1776,358,763,4408,12773,0,0
5,6,8528,789,1829,302,529,6351,7689,0,0
6,7,6339,725,1579,297,483,8022,5820,0,0
7,8,5579,692,1478,223,570,7687,4967,0,0
8,9,2699,499,755,105,233,3673,2565,0,0
9,10,1621,534,469,50,172,1565,1581,0,0
10,11,1181,478,307,37,186,1024,1428,0,0
11,12,1470,555,171,41,179,1180,2034,1,0